/* Customize the navigation arrows */
.slick-prev:before,
.slick-next:before {
  color: #333;
  opacity: 0.75;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}

/* Customize the dots */
.slick-dots {
  bottom: -25px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #333;
}

.slick-slider {
  width: 93%;
  height: 90%;
}
.slick-track {
  height: 420px;
}